<h2 class="headline">QUIZ MAKER</h2>
<form [formGroup]="quizConfigForm" (submit)="createQuiz()">
    <select id="categorySelect" formControlName="categorySelect">
        <option value="placeholder" disabled selected hidden>Select a category</option>    
        <ng-container *ngFor="let quizCategory of quizCategories">
            <option value="{{quizCategory.id}}">{{quizCategory.name}}</option>    
        </ng-container>
    </select>
    <select id="difficultySelect" formControlName="difficultySelect">
        <option value="placeholder" disabled selected hidden>Select difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
    <button type="submit" id="createBtn" [disabled]="!quizConfigForm.valid">Create</button>
</form>
<app-quiz-questions [categoryId]="selectedCategoryId" [difficulty]="selectedDifficulty"></app-quiz-questions>